<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
    <title>Hello, sbb!</title>
</head>
<body>
<nav>
    <div>
        <a href="/">SBB</a>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span></span>
        </button>
        <div>
            <ul>
                <li>
                    <a href="#">로그인</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>